{% extends "proyectoWebApp/base.html" %}

{% load static %}
{% block content %}
    <img class="banner img-fluid mb-3 mb-lg-0 rounded" style="text-align:center;" src="{% static 'img/banner2.png' %}" alt="">
    <div><p></p></div>
    <div class="contact">
        <h2> Si necesita información sobre productos y/o servicios, no dude en ponerse en contacto con nosotros </h2>

            <p> Internacional: 902 345 345 01 </p>
            <p> Nacional: 972 345 345 02 </p>
            <p> Correo electrónico: Info

                @gatechsp.com </p>

        <h2> Consulta el estado de tu pedido </h2>

            <p> Internacional: 902 345 345 03 </p>
            <p> Nacional: 972 345 345 04 </p>
            <p> Correo electrónico: Infopedidos@gatechsp.com </p>

        <h2> Devoluciones o garantías </h2>

            <p> Internacional: 902 345 345 05 </p>
            <p> Nacional: 972 345 345 06 </p>
            <p> Correo electrónico: Devygaran@gatechsp.com </p>

        <h2> Contrata nuestros servicios técnicos a domicilio </h2>

            <p> Solo nacional: 902 345 345 07 </p>
            <p> Correo electrónico: Serviciotecnico@gatechsp.com </p>
    </div>

{% endblock %}